.header{
    background-color: hsl(217, 71%, 45%);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__btn{
    background-color: hsl(0, 0%, 7%);
    color: #ffffff;
}

.footer-message{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.input-field{
    display: flex;
    align-items: center;
    height: 7vh;
}

.input-message{
    flex-basis: 90%;
    font-family: 'Montserrat',cursive;
    height: 100%;
    padding-left: 1em;
}

.input-message:focus{
    outline: none;
}

.input-btn{
    background-color: hsl(0, 0%, 7%);
    flex-basis: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 1px solid black;
}